# Byte-compiled / optimized / DLL files
__pycache__

# Virtual environments
venv

# IntelliJ
.idea
*.iml

# Project-specific Git commit message (to configure: git config commit.template .gitmessage)
.gitmessage
